
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  text-align: center;
  background-color:  #ffffff;
  background-size: contain;
  font-family: 'Nunito', sans-serif; }

.primary-heading {
  font-family: 'Nunito', sans-serif;
  font-size: 15rem;
  padding: 2rem;
  -webkit-background-clip: text;
  color: #424242;
  -webkit-text-stroke: 0.5px #2a75bb; }

.header {
  height: 8rem;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f9f9f9; }
  .header-logo{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    max-width: 7vh;


}
